*{
    margin: 0%;
    padding: 0%;
}

body{
    width: 100%;
    background-color: rgb(209, 245, 204);
    justify-items: center;
}

header{
    width: 100%;
    background-color: rgb(241, 230, 146);
    display: flex;
    justify-content:space-around;
    align-items: center;
}

main{
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(217, 217, 217);
    width: 80%;
}