:root{
    --corPrimaria: rgb(194, 72, 72);
    --branco: rgb(243, 243, 243);
}

@font-face {
    font-family: death_bones;
    src: url(../fonts/death_bones/Death\ Bones.ttf);
}

*{
    padding: 0%;
    margin: 0%;
    font-family: death_bones;
}

body{
    background-color: var(--branco);
}



/*                             header                           */


header{
    width: 100%;
    padding: 40px 0px;
    margin-bottom: 20px;
    background-color: var(--corPrimaria);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logoImg{
    width: 50px;
}

header a{
    text-decoration: none;
    color: var(--branco);
}

nav, #logo{
    display: flex;
    align-items: center;
    gap: 20px;
}

.pagInicial{
    padding: 7px;
    border-radius: 10px;
    background-color: var(--branco);
    color: black;
}

/*                              main                            */


main{
    width: 90%;
    border-radius: 10px;
    margin: 10px auto;
    box-shadow: 10px 6px 20px var(--corPrimaria);
    padding: 10px;
}

#init{
    display: flex;
    margin: 10px;
    height: 500px;
    gap: 20px;
}

#banner{
    width: 80%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
}

#jogos{
    width: 20%;
    height: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

#jogos div{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 20px;
}

#jogos div h1{
    font-size: 20px;
}

/*                            header                           */


footer{
    width: 100%;
    background-color: var(--corPrimaria);
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0%;
}

footer div{
    font-size: 15px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: black;
}
