body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    padding: 0px;
    display: flex;
    width: 40%;
    border-radius: 20px;
    box-shadow: 8px 8px 30px rgb(139, 138, 138);
}

#bannerCadastro{
    border-radius: 20px 0px 0px 20px;
    width: 50%;
    display: flex;
    justify-content: center;
}

#formularioCadastro{
    border-radius: 0px 20px 20px 0px;
    width: 50%;
    padding: 10px;
    background-color: var(--corPrimaria);
}

.inputLabel input, .inputLabel label{
    width: 85%;
    margin: 5px;
}

#button{
    width: 100%;
    text-align: end;
}

#button button{
    padding: 3px;
}