*{
    margin: 0%;
    padding: 0%;
    color: rgb(235, 229, 229);
    text-decoration: none;
}

:root{
    --corBody: rgb(0, 0, 0);
    --corHeader: rgba(99, 12, 12, 0.842);
}

body{
    background-color: var(--corBody);
}

header{
    background-color: var(--corHeader);
    width: 100%;

    padding: 10px 0px;
}
#headerDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#menuPc{
    font-size: 20px;
}

#menuMobile, #menuClickMobile{
    display: none;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}