
.filmes{
    padding: 10px;
}
#filme1{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
    background-image: url(../imagens/filmes/filme\ 1.jpg);
    background-position: right;
}
#filme2{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
    background-image: url(../imagens/filmes/filme\ 2.jpg);
    background-position: right;
}
